:root {
  --blue: hsl(211, 55%, 50%);
  --white: hsl(0, 0%, 98%);
  --black-rgb: 13, 13, 13;
  --gray-100: hsl(0, 0%, 93%);
  --gray-150: hsl(0, 0%, 87%);
  --gray-200: hsl(0, 0%, 80%);
  --gray-300: hsl(0, 0%, 70%);
  --gray-400: hsl(0, 0%, 60%);
  --gray-500: hsl(0, 0%, 50%);
  --gray-600: hsl(0, 0%, 40%);
  --gray-700: hsl(0, 0%, 30%);
}
.agenda{
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}
.tools{
  height: 5%;
  min-height: 50px;
  width: 100%;
  background-color: var(--gray-100);
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

}
.controls {
  display: flex;
  gap: 1rem;
}
.week {
  display: flex;
  width: 100%;
  height: 94%;
  background-color: var(--gray-100);
  flex-direction: column;
}
.header {
  display: flex;
  box-shadow: 0 3px 3px rgba(var(--black-rgb), .1);
  overflow: hidden;
}
.space {
  min-width: 70px;
  border: 1px solid var(--gray-200);
  border-right: none;
  border-top: none;
}
.scroll-space {
  border: 1px solid var(--gray-200);
  border-left: none;
  border-right: none;
  border-top: none;

}

.day-info {
  width: 100%;
  padding: .5rem;
  border: 1px solid var(--gray-200);
  border-right: none;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .3rem;

}
.day-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .6rem;
  color: var(--gray-400);
}
.day-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: .5rem;
  color: var(--gray-600);
}
.highlight div {
  color: var(--blue);
}
.highlight .day-number {
  color: var(--white);
  background-color: var(--blue);
  border-radius: 100px;
}
.body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}
.dates {
  display: flex;
  height: 100%;
}
.day-hours {
  min-width: 70px;
}
.hour {

  border: 1px solid var(--gray-200);
  border-right: none;
  border-top: none;
  height: 40px;
  color: var(--gray-400);
  display: flex;
  justify-content: flex-end;
}
.day {
 width: 100%;
}
.day-hour{
  border: 1px solid var(--gray-200);
  border-right: none;
  border-top: none;
  height: 40px;
  color: var(--gray-400);
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.month {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--gray-700);
}
.tools button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: .3rem .5rem;
  color: var(--gray-600);
  border-radius: .3rem;
  cursor: pointer;
  border: 1px solid var(--gray-200);
  transition: .3s;
}
.tools button:hover,
.tools button:focus {
  background-color: var(--gray-150);
  outline: none;
}