.event {
  background: var(--blue);
  padding: .3rem;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  border-radius: .2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "";
  min-height: 1.5rem;
  z-index: 5;
  position: absolute;
}
