:root {
  --blue: hsl(211, 55%, 50%);
  --white: hsl(0, 0%, 98%);
  --black-rgb: 13, 13, 13;
  --gray-100: hsl(193, 10%, 93%);
  --gray-150: hsl(193, 10%, 87%);
  --gray-200: hsl(193, 10%, 80%);
  --gray-300: hsl(193, 10%, 70%);
  --gray-400: hsl(193, 10%, 60%);
  --gray-500: hsl(193, 10%, 50%);
  --gray-600: hsl(193, 10%, 40%);
  --gray-700: hsl(193, 10%, 30%);
}







