.header {
  display: flex;
  box-shadow: 0 3px 3px rgba(var(--black-rgb), .1);
  height: fit-content;
  align-items: flex-end;
}
.space {
  min-width: 70px;
  border: 1px solid var(--gray-200);
  border-right: none;
  border-top: none;
}
.scrollSpace {
  border: 1px solid var(--gray-200);
  border-left: none;
  border-right: none;
  border-top: none;

}
.dayInfo {
  width: 100%;
  height: fit-content;
  padding: .5rem;
  border: 1px solid var(--gray-200);
  border-right: none;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .3rem;

}
.dayName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .6rem;
  color: var(--gray-400);
}
.dayNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 45px;
  height: 45px;
  color: var(--gray-600);
}

.highlight div {
  color: var(--blue);
}
.highlight .dayNumber {
  color: var(--white);
  background-color: var(--blue);
  border-radius: 100px;
  line-height: 1;
}
