.week {
  display: flex;
  width: 100%;
  height: 94%;
  background-color: var(--gray-100);
  flex-direction: column;
  --hour-height: 40px;
}
.body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}
.dates {
  display: flex;
  height: 100%;
}
.dayHours {
  min-width: 70px;
}

.day {
  width: 100%;
  position: relative;
}
.hour {
  border: 1px solid var(--gray-200);
  border-right: none;
  border-top: none;
  height: var(--hour-height);
  color: var(--gray-400);
  display: flex;

  justify-content: flex-end;
}
.hours {
  position: absolute;
  top: 0;
  height: fit-content;
  left: 0;
  z-index: 4;
  right: 0;
}
.overlayDay {
  position: relative;
  overflow: hidden;
  width: calc(100% - 1rem);
  height: 100%;
  height: calc(var(--hour-height) * 24);
}
